body {
	color: #486a6a;
	font-size: 16px;
}

.bg-purple-dark {
    background: #d1e2f2;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	margin-bottom: 10px;
    border: 1px solid rgb(191, 217, 216);
}
.bg-purple-dark b{
    font-size: 18px;
    color: #409EFF;
    font-weight: bold;
}
.bg-purple-dark i{
    font-size: 12px;
    padding-left:5px;
    color:#409EFF;
    font-style: normal;
}
.grid-content {
	width: 100%;
}

.navMessage {
	width: 100%;
    background: #d1e2f2;
	margin-bottom: 10px;
    border: 1px solid rgb(191, 217, 216);
}

.nav {
	text-align: right;
	padding: 5px;
}

.navFirst {
	padding: 5px;
	margin: 5px;
}

.inputText1,
.inputText2,
.inputText3,
.selectSex,
.selectQk,
.selectXM {
	width: 120px;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	border: 1px solid rgb(191, 217, 216);
	box-sizing: border-box;
	color: rgb(31, 61, 60);
	font-size: inherit;
	height: 36px;
	line-height: 1;
	outline: 0;
	padding: 3px 10px;
	transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.inputText2 {
	width: 60px;
}

.inputText3 {
	width: 150px;
}

.inputText4 {
	width: 30px;
}

.content1 {
	height: auto;
	border: 1px solid #D1E5E5;
	padding: 20px;
}

.contentTitle {
    background: #d1e2f2;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	padding-left: 10px;
    border: 1px solid rgb(191, 217, 216);
}
.contentTitle b{
    font-size: 18px;
    color: #409EFF;
    font-weight: bold;
}
.contentTitle i{
    font-size: 12px;
    padding-left:5px;
    color:#409EFF;
    font-style: normal;
}
.contentBottom {
	margin-top: 10px;
	border: 1px solid #C0CCDA;
	text-align: center;
    background: #d1e2f2;
    margin-top:20px;
    border: 1px solid rgb(191, 217, 216);
    height: 104px;
}
.contentBottom .block{
    width: 80%;
    float: left;
}
.contentBottom .button{
    float: left;
}
.contentBottom a {
	color: #486a6a;
}

.hr1{
    height:30px;
}
.contentBottom  span i{
    padding-left:10px;
    font-style: normal;
}


.table{
    border:1px solid #C0CCDA;
    border-collapse:collapse;
}
.table th{
    border:1px solid #C0CCDA;
    font-size: 15px;
    color: #333;
}
.table td{
    border:1px solid #C0CCDA;
    font-size: 15px;
    color: #333;
    text-align: center;
    height:50px;
    padding:0 20px;
}
.el-date-editor.el-input {
}

.plugins-tips .btn{
    float: right;
}
.plugins-tips{
    height:40px;
}
